form.wizard .form-control{
    width: 12vw;
    font-size: 1.3vw;
}

form.wizard .form-label{
    font-size: 1.3vw;
}
form.wizard {
    text-align: left;
    align-content: left;
}

.format-width {
    width: 100px
}

.validated{
    background-color: rgba(200, 255, 187, 0.411)
}

.notValidated{
    background-color: whitesmoke
}