form.wizard .form-control{
    width: min(12vw, 215px);
    font-size: min(1.4vw, 20px);
}

form.wizard .form-label{
    font-size: min(1.4vw, 20px);
}
form.wizard {
    text-align: left;
    align-content: left;
}

form.wizard .form-check-label{
    font-size: min(2vw, 30px);
}

.format-width-load-level {
    width: min(20vw, 300px) !important;
    font-size: min(1.4vw, 20px);
}

.format-basic-cells{
    font-size: min(1.4vw, 20px) !important;
}


.validated{
    background-color: rgba(200, 255, 187, 0.411)
}

.notValidated{
    background-color: rgba(255, 125, 125, 0.418)
}

.blank{
    background-color: whitesmoke
}

.datepicker{
    width: min(12vw, 215px);
    font-size: min(1.4vw, 20px)
}

.custom-class{
    font-size: min(1.4vw, 20px) !important;
    width: 89% !important;
}

.short-headers{
    width: 8%
}

.input-headers{
    width: 15%
}

