input[type=text] {
    padding: 10px;
    margin: 10px;
    border-radius:5px;
    display: block;
}

input[type=password] {
    padding: 10px;
    margin: 10px;
    border-radius:5px;
    display: block;
}

input[type=submit] {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:5px;
    margin: 10px;
    border: none;
    background-color: white;
}

form{
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 20px;
    text-align: center;
    display: inline-block;
    background-color: rgb(147, 196, 127);
    border-radius: 10px;
}
