input[type=text] {
    margin: 10px;
    border-radius:5px;
    padding: 10px;
    display: block;
}

input[type=password] {
    margin: 10px;
    border-radius:5px;
    padding: 10px;
    display: block;
}

input[type=submit] {
    margin: 10px;
    border-radius:5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: white;
}

form.login{
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    display: inline-block;
    background-color: rgb(147, 196, 127);
}

hr { 
    position: relative; 
    top: 0px; 
    border: none; 
    height: 3px; 
    background: black; 
    margin-bottom: 50px; 
    width: 100%;
}

h6 { 
    display: flex; 
    flex-direction: row; 
} 
  
h6:before, 
h6:after { 
    content: ""; 
    flex: 2 2; 
    border-bottom: 1px solid #000; 
    margin: auto; 
    padding-left: 2px;
    padding-right: 2px;
}

#duke-button {
    background-color: #012169 !important;
    padding: 15px;
    width: 100%;
    }

#duke-button:hover {
    background-color: #000f31  !important;
    }