.search-button {
    height: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

form.popup{
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    display: inline-block;
    background-color: rgb(147, 196, 127);
}