input[type=file]{
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 35px;
}

button.import{
    margin-bottom: 25px;
    width: 100%;
}

.instructions{
    margin-top: 10px;
    padding: 30px;
    width: 100%;
    text-align: left;
    background-color: rgb(221, 221, 221);

}

.summary{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    background-color: rgb(221, 221, 221);
}

.popupScrolling{
    height: 300px;
    width: 300px;
}