input[type=file]{
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.lowerMargin{
    margin-bottom: 15px;
}

.instructions{
    margin-top: 10px;
    padding: 30px;
    width: 100%;
    text-align: left;
    background-color: rgb(221, 221, 221);

}

.summary{
    height: 255px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    background-color: rgb(221, 221, 221);
}

.popupScrolling{
    height: 50vh;
    width: 100%;
}