.column-div{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20;
    text-align: center;
    background-color: rgb(57, 127, 60);
}

img{
    max-width: 50%;
    max-height: 50%;
    margin: 10px;

}

.left-column{
    margin: 20px;
    margin-right: 0px;
    background-color: white;
    display: inline-block;
}

.main-div{
    margin: 20px;
    margin-left: 0px;
    background-color: white;
    text-align: left;
}