/* data column formatting
    these classes are used in the configs of the instrument/model data tables
*/
.num-column {
    width: 7%;
}

.vendor-column {
    width: 15%;
}

.model-number-column {
    width: 10%;
}

.serial-number-column {
    width: 10%;
}

.asset-tag-column {
    width: 10%;
}

/* .description-column {
    width is not defined so it fills the remaining width, the description will likely be the longest field
} */

/* 
.comment-column left undefined
*/

.cal-column {
    width: 15%;
}

.latest-calibration-column {
    width: 12%;
}

.calibration-expiration-column {
    width: 12%;
}

.more-column {
    width: 8%;
}

.calibration-certificate-column {
    width: 10%;
}

.name-column {
    width: 30%;
}

.username-column {
    width: 20%;
}

.status-column {
    max-width: 30px;
}