.cal-history-table {
  margin: 20px;
}

hr {
  width: 100%;
}

/* wraps the entirety of the detail view content */
.detail-view {
  margin-top: 10px;
  width: 100%;
}

/* div that covers the title and detail info, NOT the cal history */
.instrument-info-block {
  padding-left: 30px;
  padding-right: 30px;
}

.detail-view-comment {
  max-height: 200px;
  /* width: 110px;
  height: 110px; */
  overflow: scroll;
  overflow-wrap: anywhere;
}

/* used by instrument/model detail views for creating the cell for categories */
.detail-view-categories {
  max-height: 100px;
  /* width: 110px;
  height: 110px; */
  overflow: scroll;
  overflow-wrap: anywhere;
}

/* used by instrument/model detail views for having the label cells be wider */
.table-view-bold-td {
  width: 200px;
}

/* sets the margin for the bottom table element */
.bottom-element {
  margin: 20px;
}