/* defines the css for the Logo title header */
.logo-title-header {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.logo-title-header-buttons-div {
    width: 40%;
    float: right;
    margin: auto;
}

.logo-title-header-buttons-div button {
    float: right;
    margin-left: 10px;
}

.logo-title-header h1 {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  height: 100%;
}

.logo-title-header img {
  max-width: 90px;
  max-height: 90px;
}