/* defines the css for the Logo title header */
.logo-title-header {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px !important;
}

.logo-title-header-buttons-div {
    width: 50%;
    float: right;
    margin: auto;
}

.logo-title-header-buttons-div button {
    float: right;
    margin-left: 5px;
}

.logo-title-header h1 {
  margin-bottom: 20px;
  height: 100%;
  margin-left: 15px;
  margin-top: auto;
}