.alignLeft{
    margin-left: -22px;
}

.filter-picklist {
    font-size: 1.1vw !important;
    position: absolute;
    width: 29%;
    height: 100%;
}


.tall-rows {
    height: 45px;
}

.top{
    position: relative;
    z-index: 3;
}
