.alignLeft{
    margin-left: -22px;
}

.admin-filter-picklist {
    /* margin: 1px 1px -20px 1px !important; */
    margin-top: -35px;
    font-size: 1.1vw !important;
    position: absolute;
    width: 30%;
    height: 100%;
}

.check-div{
    margin-top: 0px;
    margin-bottom: -10px;
}


.tall-rows {
    height: 80px;
}

.spacing{
    margin-left: 30px
}
.top{
    position: relative;
    z-index: 3;
}

.user-table-div {
    margin: 5px 20px 5px 20px;
}

.cell-padding span{
    padding-left: 4px;
}